<template>
    <div style="padding: 1.25rem;">
        <h6 class="text-uppercase text-secondary font-weight-bolder pt-4">Review List</h6>
        <div v-if="loading">
            Data is loading...
        </div>
        <div v-else>
            <div class="border-bottom d-none d-md-block" v-for="(review, index) in reviews" :key="index">
                <div class="row pt-4">
                    <div class="col-md-6">Earl Diaz</div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <!-- global component from app.js -->
                        <StarRating :rating="review.rating" class="fa-lg"></StarRating>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">{{review.created_at | fromNow}}</div>
                </div>
                <div class="row pt-4 pb-4">
                    <div class="col-12">{{review.content}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            reviews : null,
            loading : false
        }
    },
    props: {
        bookableId : String
    },
    methods: {
        getReviews()
        {
            return axios.get(`/api/bookables/${this.bookableId}/reviews`).then(response => {
                this.reviews = response.data.data
                this.loading = false
            })
        }
    },
    async created() {
        this.loading = true 
        await this.getReviews();
    },
}
</script>