<template>
    <div>
        <nav class="navbar bg-white border-bottom navbar-light">
            <div class="container-fluid">
                <router-link class="navbar-brand mr-auto" :to="{name: 'home'}">Laravel BnB</router-link>
                <router-link class="btn btn-outline-dark nav-button" :to="{name: 'bookable'}">Second</router-link>
            </div>
        </nav>
        <div class="container mt-4 mb-4 pr-4 pl-4">

            <!-- dynamically displays component being rendered by vue router -->
            <router-view></router-view>
        </div>
    </div>
</template>