<template>
    <div class="d-flex">
        <i class="fas fa-star" v-for="star in fullStars" :key="'full' + star" @click="$emit('rating:changed', star)"></i>
        <i class="fas fa-star-half-alt" v-if="halfStar"></i>
        <i class="far fa-star" v-for="star in emptyStars" :key="'empty' + star" @click="$emit('rating:changed', fullStars + star)"></i>
    </div>
</template>

<script>
export default {
    props:
    {
        rating: Number
    },
    computed: 
    {
        halfStar() {
            const fraction = Math.round(
                (this.rating - Math.floor(this.rating)) * 100
            )

            return fraction > 0 && fraction < 50
        },
        fullStars() {
            // if rating is 4.2 then it returns 4.5, always the nearest .5
            return Math.round(this.rating)
        },
        emptyStars() {
            // if rating is equal to 5 then no empty stars will be rendered. ceil returns the nearest whole number 
            return 5 - Math.ceil(this.rating)
        },
    },
}
</script>