<template>
    <div>
        <div class="form-group">
            <label for="rating" class="text-muted">Select the star rating (1 is worst, 5 is best)</label>
            <StarRating :rating="5" class="fa-3x" v-on:rating:changed="onRatingChanged"></StarRating>
        </div>
        <div class="form-group">
            <label for="content" class="text-muted">Describe your experience with</label>
            <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block">Submit</button>
    </div>
</template>
<script>
export default {
    methods: {
        onRatingChanged(rating)
        {
            // rating variable takes the value of what you emit from the child component
            console.log(rating)
        }
    },
}
</script>